:root{
  --teal:#202273;
  --teal-hover:#4c51a6;
}


* {
    font-family: 'Poppins', sans-serif;

  }

  .h-font {
    font-family: 'Merienda', cursive;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }
  .custom-bg {
    background-color: var(--teal);
    border: 1px solid var(--teal);

  }

  .custom-bg {
    background-color: var(--teal-hover);
    border: 1px solid  var(--teal-hover);

  }
  .h-line{
    width: 150px;
    margin: 0 auto;
    height: 1.7px;
  }

#dashboard-menu{
  position: fixed;
  height: 100%;
}
.custom-alert{
  position: fixed;
  top: 25px;
  right:25px;

}